.formContainer {
  width: 100%;
  margin-top: 20px;
}
.formContainer form {
  display: flex;
}
.formContainer input {
  flex-grow: 1;
  height: 30px;
  padding: 10px;
  font-size: 18px;
  outline: none;
}
.formContainer button {
  width: 90px;
  height: 30px px;
}
